*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(230, 230, 230);
}

@media (max-width: 1300px) {
    body {
        font-size: 10px;
      }
  }


.header{
    background-color: rgba(244,244,244,1);
    /*background-color: rgb(244, 244, 244);*/
    width:100%;
    height: 4%;
    display: inline-block;
    background-position: center;
    position:relative;
}

.nav{
    width: 50%;
    height: 100px;
    display: none;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}


.nav-links{
    border: 3px rgb(244, 244, 244);
    background-color: rgb(244, 244, 244);
    width:100%;
    padding:1%;
    padding-left:0%;
    flex:auto;
    text-align: center;
    display:flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    
    
}

.logo{
    width: 10%;
    vertical-align: middle;
    padding-right: 3%;
    background-color: rgb(244, 244, 244);

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:0px 12px;
    position: relative;
    background-color: rgb(244, 244, 244);
    vertical-align: middle;

    
    

}

.nav-links ul li a{
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;

}

.nav-links ul li::after{
    content:"";
    width:0%;
    height:2px;
    background: #a5d3d3;
    display:block;
    margin:auto;
    transition:0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}

.parallax1 {
    /* The image used */
    background-image:  url(Resources/Images/stickers.jpg);
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    /* The image used */
    background-image:  url(Resources/Images/table.jpg);

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    /* The image used */
    background-image:  url(Resources/Images/test.jpg);
    
    /* Set a specific height */
    min-height: 500px;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------BOXES 1-7--------------*/
.box1{

    background-color: rgb(231, 231, 231);
    position: relative;
    display: flex;
    align-items: center;
    width:100%;
}
.box{

    background-color: rgb(231, 231, 231);
    position: relative;
    display: inline-block;
    width:100%;
}

.box h1{

    font-size: 48px;
    text-align: center;
}

.img{ 
    width: 300%; 
}

/*------BOX 1-----*/
.patient-box1{
    text-decoration:none;
    background-color: rgb(231, 231, 231);
    padding: 6%;
    text-align: Left;
    font-size: 25px;
    width: 100%;

}

.patient-box1 h1{
    font-size: 48px;
    text-align: center;
}

.image-box1{
    width: 100%;
}
.image-box1 img{
    padding:6%;
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

/*------BOX 2-----*/
.mission-box{
    background-color: rgb(231, 231, 231);
    align-items: center;
    position: relative;
    display: flex;
    width:100%;
}

.patient-box2 {
    text-decoration:none;
    background-color: rgb(231, 231, 231);
    padding: 6%;
    text-align: Left;
    font-size: 25px;
    width: 50%;
}

.patient-box2 h1 {
    font-size: 48px;
    text-align: center;
}


.image-box2{
    width: 50%;
    height: auto;
}
.image-box2 img{
    padding:6%;
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

/*------BOX 3-----*/

.box3{
    float:left;
    background-color: rgb(231, 231, 231);
    position: relative;
    width:50%;
}
.patient-box3{

    text-decoration: none;
    padding:50px;
    text-align: left;
    font-size: 25px;
    
}

/*------BOX 4-----*/
.box4{
    display:flex;
    width:50%;
}

.patient-box4{
    
    background-color: rgb(230, 230, 230);
    text-decoration: none;
    padding:50px;
    text-align: left;
    font-size: 25px;
}

.why-list{
    text-decoration:none;
    background-color: rgb(231, 231, 231);
    padding: 100px;
    text-align: Left;
    font-size: 25px;
    width: 100%;
    text-align: left;
    list-style-type: circle;
}

.why-list h1{
    font-size: 48px;
    text-align: center;
}

/*------BOX 5-----*/
.box5{
    float:left;
    background-color: rgb(230, 230, 230);
    position: relative;
    width:50%;
}
.patient-box5{
    background-color: bisque;
    text-decoration: none;
    padding:50px;
    text-align: left;
    font-size: 25px;
}

/*------BOX 6-----*/
.box6{
    display:flex;
    float:left;
    width:50%;
}
.patient-box6{
    
    background-color: bisque;
    text-decoration: none;
    padding:50px;
    text-align: left;
    font-size: 25px;
}

/*---------------LINK ANIMATION-----------------*/
.patient-links{
    flex:auto;
    text-align: center;
}

.patient-links ul li{
    list-style: none;
    display: inline-block;
    padding:12px 12px;
    position: relative;
}

.patient-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 24px;

}

.patient-links ul li::after{
    content:"";
    width:0%;
    height:2px;
    background: #00dada;
    display:block;
    margin:auto;
    transition:0.5s;
}

.patient-links ul li:hover::after{
    width:100%;
}

/*---------------FOOTER-----------------*/

.footer{
    width: 100%;
    padding: 70px 10%;
    background-color: rgb(48, 48, 48);
    display: flex;
    gap:90px;
}

.footer div{
    text-align: center;
    gap:0px;
}

.footer col-1 a{
    width: 20;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: rgb(243, 243, 243);
}

.footer div a{
    color: rgb(245, 245, 245);
}

.col-1 img{
    gap: 25px;
    height: 80px;
}

.col-5 img{
    gap: 25px;
    height: 80px;
}

.col-5{
    display: flex;
    padding-top: 30px;
        
}

.col-1{
    display: flex;
    padding-top: 30px;
    padding-right: 30px;
        
}

.col-2{
    flex-grow: 2;
    padding-top: 15px;
    
}

.col-3{
    padding-top: 15px;
}

.col-4 img{
    display:inline-flex;
    height: 150px;
    padding-right: 30px;
    padding-top: 0px;

}