*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Nunito', sans-serif;
    /*background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(Resources/Images/white1.png),url(Resources/Images/nezukobg.jpg);
    background: url(Resources/Images/nezukobg.jpg);
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;*/

    /*------------------------------------
    background-position: right bottom, left top;
    background-size: contain,contain;
    background-repeat: no-repeat, no-repeat;*/
}


.header{
    background-color: rgb(244, 244, 244);
    width:100%;
    height:150px;
    background-position: center;
    position:relative;
}

.nav{
    width: 50%;
    height: 100px;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.nav-links{
    flex:auto;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:12px 12px;
    position: relative;
}

.nav-links ul li a{
    color: rgb(19, 19, 19);
    text-decoration: none;
    font-size: 24px;

}

.nav-links ul li::after{
    content:"";
    width:0%;
    height:2px;
    background: #00dada;
    display:block;
    margin:auto;
    transition:0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}



.parallax1 {
    /* The image used */
    background-image:  url(Resources/Images/white1.png);
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
/* The image used */
background-image:  url(Resources/Images/nezukobg.jpg);

/* Set a specific height */
min-height: 500px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.parallax3 {
    /* The image used */
    background-image:  url(Resources/Images/img_nature_wide.jpg);
    
    /* Set a specific height */
    min-height: 500px;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-------------BOXES 1-7--------------*/
.box{
    margin-top: 0px;
    background-color: rgb(230, 230, 230);
    width:100%;
    height:450px;
    position:relative;
}
/*------BOX 1-----*/
.patient-box1{
    text-decoration: none;
    padding-top: 100px;
    padding-left: 50px;
    text-align: Left;
    font-size: 25px;
}

/*------BOX 2-----*/
.patient-box2{
    text-decoration: none;
    padding-top: 100px;
    text-align: left;
    font-size: 25px;
}

/*------BOX 3-----*/
.patient-box3{
    text-decoration: none;
    padding-top: 100px;
    padding-left: 50px;
    text-align: left;
    font-size: 25px;
}
/*------BOX 4-----*/
.patient-box4{
    text-decoration: none;
    padding-top: 100px;
    padding-left: 50px;
    text-align: left;
    font-size: 25px;
}

.why-list{
    text-align: left;
    list-style-type: circle;
}

/*------BOX 5-----*/
.patient-box5{
    text-decoration: none;
    padding-top: 100px;
    text-align: left;
    font-size: 25px;
}

/*------BOX 6-----*/
.patient-box6{
    text-decoration: none;
    padding-top: 100px;
    text-align: center;
    font-size: 25px;
}
/*------BOX 7-----*/
.patient-box7{
    text-decoration: none;
    padding-top: 100px;
    text-align: center;
    font-size: 25px;
}







/*---------------LINK ANIMATION-----------------*/
.patient-links{
    flex:auto;
    text-align: center;
}

.patient-links ul li{
    list-style: none;
    display: inline-block;
    padding:12px 12px;
    position: relative;
}

.patient-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 24px;

}

.patient-links ul li::after{
    content:"";
    width:0%;
    height:2px;
    background: #00dada;
    display:block;
    margin:auto;
    transition:0.5s;
}

.patient-links ul li:hover::after{
    width:100%;
}

/*---------------LINK ANIMATION-----------------*/




