*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Nunito', sans-serif;
    /*background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(Resources/Images/white1.png),url(Resources/Images/nezukobg.jpg);
    background: url(Resources/Images/nezukobg.jpg);
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;*/

    /*------------------------------------
    background-position: right bottom, left top;
    background-size: contain,contain;
    background-repeat: no-repeat, no-repeat;*/
}

/*-------------NAV BAR--------------*/

.header{
    background-color: rgb(244, 244, 244);
    width:100%;
    height:115px;
    display: inline-block;
    background-position: center;
    position:relative;
}

.nav{
    width: 50%;
    height: 100px;
    display: none;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}


.image-box{
    border: 3px rgb(244, 244, 244);
    padding: 15px;
    position:absolute;
}

.image-box img{
    width:250px;
}
.nav-links{
    border: 3px rgb(244, 244, 244);
    width:100%;
    padding:25px;
    padding-left:0px;
    flex:auto;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:12px 12px;
    position: relative;
}

.nav-links ul li a{
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 24px;

}

.nav-links ul li::after{
    content:"";
    width:0%;
    height:2px;
    background: #00dada;
    display:block;
    margin:auto;
    transition:0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}


/*-------------TONG QUAN--------------*/

.textbox1{
    background-color: blanchedalmond;
    padding:50px;
}

.textbox1 h3{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.textbox1 p1{
    color:red;
}





.textbox3{
    background-color: blanchedalmond;
}

.list1 ul {
    list-style-type: circle;
    background:  #3399ff;
    padding: 20xp;
    width:50%;
}
.list1 ul li{
    list-style: disc outside none;
    display: list-item;
    margin-left: 30px;
    width:35%;
}



.sponsor2{
    /*padding-left:50px;
    padding-right:50px;*/
    padding:50px;
}


.sponsor2 p1{
    /*padding-left:50px;
    padding-right:50px;*/
    font-weight: bold;
    color:rgb(0, 0, 0);
    padding-bottom: 20px;
    
}

.sponsor2 p::after{
    /*padding-left:50px;
    padding-right:50px;*/
    content: "\A\A";
    white-space: pre;
}

