*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(20, 19, 19);
}

/*-------------NAV BAR--------------*/


.header{
    background-color: rgba(244,244,244,1);
    /*background-color: rgb(244, 244, 244);*/
    width:100%;
    height:150px;
    display: inline-block;
    background-position: center;
    position:relative;
}

.nav{
    width: 50%;
    height: 100px;
    display: none;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}

.image-box{
    border: 3px rgb(244, 244, 244);
    padding: 10px;
    padding-left: 420px;
    position:absolute;
}

.image-box img{
    width:130px;
    height: 130px;
}
.nav-links{
    border: 3px rgb(244, 244, 244);
    width:100%;
    padding:60px;
    padding-left:13%;
    flex:auto;
    text-align: center;
    
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:0px 12px;
    position: relative;
    

}

.nav-links ul li a{
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;

}

.nav-links ul li::after{
    content:"";
    width:0%;
    height:2px;
    background: #a5d3d3;
    display:block;
    margin:auto;
    transition:0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}

/*-------------TONG QUAN--------------*/

.textbox1{
    padding:80px;
    background: rgb(216, 216, 216);
}

.textbox1 h3{
    text-align: center;
    font-size: 35px;
}

.textbox1 p1{
    color:rgb(0, 0, 0);
    font-size: 20px;
}

/*-------------TONG QUAN--------------*/


.textbox2{
    padding:80px;
    background: rgb(127, 219, 211);
}

.textbox2 h3{
    text-align: center;
    font-size: 35px;
}

.textbox2 p1{
    color:rgb(0, 0, 0);
    font-size: 20px;
}

/*-------------TONG QUAN--------------*/

.textbox3{
    padding:50px;
    background: rgb(216, 216, 216);
    float:left;
    position: relative;
    width:33.33%;
    height: 70%;
}

.textbox3 h3{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.textbox3 li{
    color:rgb(0, 0, 0);
    font-size: 20px;
}

/*-------------TONG QUAN--------------*/

.management{
    padding:50px;
    background: rgb(216, 216, 216);
    float:left;
    position: relative;
    width:33.33%;
    height: 71%;
}

.management h3{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.management li{
    color:rgb(0, 0, 0);
    font-size: 20px;
}

.management img{
    display:flex;
    width: 100%; /* or any custom size */
    object-fit: fill;
    
}



/*-------------TONG QUAN--------------*/
.cities{
    padding:50px;
    background: rgb(216, 216, 216);
    float:left;
    position: relative;
    width:33.33%;
}

.cities h3{
    text-align: left;
    font-size: 35px;
}

.cities p1{
    color:rgb(0, 0, 0);
    font-size: 15px;
}


.list1 ul {
    list-style-type: circle;
    background:  #3399ff;
    padding: 20xp;
    width:50%;
}
.list1 ul li{
    list-style: disc outside none;
    display: list-item;
    margin-left: 30px;
    width:35%;
}



.sponsor2{
    /*padding-left:50px;
    padding-right:50px;*/
    padding:50px;
}


.sponsor2 p1{
    /*padding-left:50px;
    padding-right:50px;*/
    font-weight: bold;
    color:rgb(0, 0, 0);
    padding-bottom: 20px;
    
}

.sponsor2 p::after{
    /*padding-left:50px;
    padding-right:50px;*/
    content: "\A\A";
    white-space: pre;
}

