*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(216, 216, 216);
}

/*-------------NAV BAR--------------*/

.section{
    background-color: rgba(177, 94, 255, 0.544);
    margin:auto;
}

.total{
    background-image: url(../../Resources/decor/bg2.jpg);
    margin:auto;
    max-width: 100%;
    margin:auto;
    padding:50px;
    padding-top:5%;
    text-align: center;
    height: 53%;
}

.total h1{
    /*padding-left:50px;
    padding-right:50px;*/
    font-weight: bold;
    color:rgb(0, 0, 0);
    padding-bottom: 15px;
    
}

.total p::after{
    /*padding-left:50px;
    padding-right:50px;*/
    content: "\A\A";
    white-space: pre;
}

a { 
    color: rgb(0, 0, 0);
}



