*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: black;
}

/*--------------------------*/

.total{
    background-image: url(../../Resources/decor/bg1.jpg);
    margin:auto;
    max-width: 100%;
    height: 75%;
    padding:13%;
    align-items: center;
    text-align: center;
    

}

.total h1{
    font-weight: bold;
    color:rgb(168, 255, 242);
    padding-bottom: 0px;
}

.total h3{
    font-weight: bold;
    color:rgb(0, 0, 0);
    padding-bottom: 1%;
    font-size: 40px;

}

.total p::after{
    /*padding-left:50px;
    padding-right:50px;*/
    content: "\A\A";
    white-space: pre;

}

a { 
    color: rgb(167, 255, 249);
}