*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: black;
}

/*-------------NAV BAR--------------*/

.header{
    background-color: rgba(244,244,244,1);
    /*background-color: rgb(244, 244, 244);*/
    width:100%;
    height:150px;
    display: inline-block;
    background-position: center;
    position:relative;
}

.nav{
    width: 50%;
    height: 100px;
    display: none;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}

.image-box{
    border: 3px rgb(244, 244, 244);
    padding: 10px;
    padding-left: 420px;
    position:absolute;
}

.image-box img{
    width:130px;
    height: 130px;
}

.nav-links{
    border: 3px rgb(244, 244, 244);
    width:100%;
    padding:60px;
    padding-left:13%;
    flex:auto;
    text-align: center;
    
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:0px 12px;
    position: relative;
    

}

.nav-links ul li a{
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;

}

.nav-links ul li::after{
    content:"";
    width:0%;
    height:2px;
    background: #a5d3d3;
    display:block;
    margin:auto;
    transition:0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}

/*--------------------------*/

.total{
    background-image: url(../../Resources/decor/bg1.jpg);
    margin:auto;
    max-width: 100%;
    margin:auto;
    padding:50px;
    text-align: center;
    height: 55%;
}

.total h1{
    font-weight: bold;
    color:rgb(168, 255, 242);
    padding-bottom: 15px;
}

.total h3{
    font-weight: bold;
    color:rgb(0, 0, 0);
    padding-bottom: 15px;
    font-size: 40px;

}

.total p::after{
    /*padding-left:50px;
    padding-right:50px;*/
    content: "\A\A";
    white-space: pre;

}

a { 
    color: rgb(167, 255, 249);
}